@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --white: #f5f6f7;
    --lighter-white: #fff;
    --light-grey: rgb(243, 229, 229);
    --grey: rgb(156, 152, 152);
    --dark-grey: rgb(39, 38, 38);
    --black: #050305;
    --lighter-black: #131212;
    --green: #00c9ff;
    --deeper-green: #088baf;
}
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: var(--black);
    color: var(--white);
}
body.dark {
    --white: #050305;
    --lighter-white: #131212;
    --light-grey: rgb(39, 38, 38);
    --grey: rgb(156, 152, 152);
    --dark-grey: rgb(243, 229, 229);
    --black: #f5f6f7;
    --lighter-black: #fff;
    --green: #088baf;
    --deeper-green: #00c9ff;
}
.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
    background: var(--lighter-black);
}
.header h1 span {
    color: var(--green);
    margin-left: 8px;
}
h1 span:hover {
    color: var(--deeper-green);
}
.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
}
.nav-list li {
    font-size: 18px;
}
.navbar a {
    text-decoration: none;
    color: var(--white);
    transition: all 0.4s ease;
}
.navbar a:hover {
    background: var(--green);
    padding: 15px 25px;
    border-radius: 10px;
    color: var(--black);
}
/* .dark-mode i {
    background: transparent;
    font-size: 30px;
    padding: 10px;
} */
 .dark-mode {
    padding: 15px 25px;
    background: transparent;
    outline: none;
    border: none;
    color: var(--white);
    font-size: 18px;
    border-radius: 10px;
    transition: all 0.4s ease;
 }
 .dark-mode:hover {
    background: var(--white);
    color: var(--black);
 }

/* Media query for responsiveness across screen sizes*/
@media (max-width: 768px) {
    .header h1 {
        font-size: 18px;
    }
}
